*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#navbar{
    width:100%;
    padding:29px 38px;
    background-color:#000000;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
main{
    padding: 53px 38px 28px 38px;
}
h1{
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 25px;
}
p{
    
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
button{
    padding: 12px 48px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: white;
    background-color: black;
    margin: 30px 0px;
    cursor: pointer;
}
li{
    font-weight: 300;
    font-Size: 24px;
    line-height: 29.05px;
    margin-left: 24px;
}


 
